{% form_theme form with ["@ToroAdmin/Form/theme.html.twig", "@ToroAdmin/Form/mini_image_collection.html.twig"] %}

{{ form_errors(form) }}

<div class="row">
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-body">
                {{ form_row(form.channel) }}
                {{ form_row(form.taxon) }}
                {{ form_row(form.type) }}
                {{ form_row(form.publishedAt) }}
                {{ form_row(form.published) }}
            </div>
        </div>
        {{ form_widget(form.imageCollections) }}
    </div>
    <div class="col-md-9">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#post-form-tab-content">{{ "Content" }}</a>
            </li>
            <li>
                <a data-toggle="tab" href="#post-form-tab-templating" data-code-mirror="post-templating"
                   data-code-mirror-id="{{ form.options.templating.vars.id }}"
                   data-code-mirror-mode="twig">
                    {{ "Template" }}
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#post-form-tab-style" data-code-mirror="post-style"
                   data-code-mirror-id="{{ form.options.style.vars.id }}"
                   data-code-mirror-mode="css">
                    {{ "Style" }}
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#post-form-tab-script" data-code-mirror="post-script"
                   data-code-mirror-id="{{ form.options.script.vars.id }}"
                   data-code-mirror-mode="javascript">
                    {{ "Script" }}
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#post-form-tab-translation" data-code-mirror="post-translation"
                   data-code-mirror-id="{{ form.options.translation.vars.id }}"
                   data-code-mirror-mode="yaml">
                    {{ "Translation" }}
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#post-form-tab-option" data-code-mirror="post-data"
                   data-code-mirror-id="{{ form.options.data.vars.id }}" data-code-mirror-mode="yaml">
                    {{ "Options" }}
                </a>
            </li>
        </ul>
        <div class="tab-content no-pad">
            <div id="post-form-tab-content" class="tab-pane active">
                {{ form_row(form.translations) }}
            </div>
            <div id="post-form-tab-templating" class="tab-pane fade">
                {{ form_widget(form.options.templating) }}
            </div>
            <div id="post-form-tab-style" class="tab-pane fade">
                {{ form_widget(form.options.style) }}
            </div>
            <div id="post-form-tab-script" class="tab-pane fade">
                {{ form_widget(form.options.script) }}
            </div>
            <div id="post-form-tab-translation" class="tab-pane fade">
                {{ form_widget(form.options.translation) }}
            </div>
            <div id="post-form-tab-option" class="tab-pane fade">
                {{ form_widget(form.options.data) }}
            </div>
        </div>
    </div>
</div>

{{ toro_tinymce({mediaPath: 'post-' ~ post.id}) }}

<style>
    .panel-form-translations {
        border-top: none;
    }
</style>
