{{ form_errors(form) }}

<div class="row">
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-body">
                {{ form_row(form.channel) }}
                {{ form_row(form.taxon) }}
                {{ form_row(form.type) }}
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        {{ form_row(form.translations, { exclude: ['body', 'description', 'vdoPath'] }) }}
    </div>
</div>
