{{ form_errors(form) }}

<div class="row">

    <div class="col-sm-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{ 'toro.ui.customer_details'|trans }}
                </h3>
            </div>
            <div class="panel-body">
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.email) }}
                {{ form_row(form.gender) }}
                {{ form_row(form.birthday) }}
                {{ form_row(form.phoneNumber) }}
                {{ form_row(form.subscribedToNewsletter) }}
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{ 'toro.ui.account_credentials'|trans }}
                </h3>
            </div>
            <div class="panel-body">
                <div class="checkbox">
                    <input type="checkbox" id="ui_customer_create_user" data-toggle-change="#ui_user_form">
                    <label for="ui_customer_create_user">{{ 'toro.ui.customer_can_login'|trans }}</label>
                </div>

                {% if form.user is defined %}
                    <div id="ui_user_form" {% if form.user.vars.data.id is not defined %} style="display: none" {% endif %}>
                        {{ form_row(form.user.plainPassword) }}
                        {{ form_row(form.user.enabled) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
